/* Default styles */

/* Body Styles */
body {
    font-family: 'Open Sans', 'Great Vibes';
    .main-heading{
        color: #023341;
        font-size: 2.5rem;
        font-weight: bold;
    }
}

/* Navigation Bar Styles */
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 10px 20px;
}

.navbar {
    padding: 0 !important;
    font-family: 'Open Sans', 'Great Vibes';
    color: #FF5C01;
}

.navbar-brand {
    font-size: 25px;
    font-family: 'Great Vibes';
    color: #FF5C01 !important;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav-item {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, border-color 0.3s;
}

.nav-link {
    text-decoration: none;
    font-family: 'Open Sans';
    color: #000;
    font-weight: bold;
}

/* Main Area Styles */
.Main-area {
    background-color: white;
    color: #023341;
    padding-top: 100px;
    padding-bottom: 5%;
}

.promo-title {
    text-align: left;
    padding-left: 44px;
    font-family: 'Open Sans';
    font-size: 73px;
    font-weight: bold;
}

.promo-subtitle {
    text-align: left;
    padding-left: 47px;
    font-family: 'Open Sans';
    font-size: 27px;
}

.search-bar {
    text-align: center;
    padding-left: 47px;
    font-family: 'Open Sans';
    font-size: 27px;
    display: flex;
    justify-content: center;
}

.search-bar .btn {
    border-color: #FF5C01;
    background-color: #FF5C01;
    color: white;
    margin-left: -5px;
}

.search-input {
    width: auto;
}

/* Dummy section Styles */

.Boxes {
    padding-top: 500px;
    padding-bottom: 40px;
}

.header-area {
    margin: 20px 0;
    margin-top: 40px;
}

.sub-heading {
    font-size: 1rem;
    color: #023341;
    margin: 10px 0 20px;
}

.box-area {
    background-color: white;
    padding: 20px 0;
    margin-left: 20px;
}

.box {
    width: 100%;
    height: 100%;
    padding-top: 100%; 
    background-color: white;
    border: 1px solid #023341;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

.col{
    height: 136px;
}
.box-title {
    font-family: 'Open Sans', sans-serif;
    color: #023341;
    margin: 10px 0 0;
    position: relative;
}

.text-primary {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

/* Latest Recommendation Styles */
.latest-recommendation {
    .card-header {
        position: relative;
    }

    .award-icon {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }

    .award-icon i {
        font-size: 24px;
        color: #FF5C01;
    }

    .card-body {
        text-align: center;
    }

    .card-body img {
        margin-bottom: 15px;
        width: 128px;
        height: 128px;
    }

    .card-title {
        margin-top: 10px;
    }

    .stars {
        margin: 10px 0;
    }

    .float-end {
        display: block;
        text-align: right;
    }

    .me-3 {
        margin-right: 1rem;
    }
}
/* Latest Business Add Styles */
.latest-business-add{
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: bold;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 150px);
        grid-gap: 2rem;
    }
    
    .item1 {
        background-color: white;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        z-index: 10;
    }
    
    .item1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .item2 {
        background-color: white;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
    }
    
    .item2 i {
        margin-bottom: 1px;
    }
    .text a {
        color: inherit; 
        text-decoration: none; 
        display: inline-flex; 
        align-items: center; 
    }
    
    .text i {
        margin-right: 5px; 
    }
    
    
    .item3 {
        background-color: white;
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        padding: 1rem;
        border-radius: 5px;
        display: flex;
        justify-content: start;
        align-items: end;
    }
    
    .skills {
        width: 224px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem; 
    }
    
    .badge {
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 0.5rem 1rem;
        border-radius: 15px; 
        font-size: 0.875rem; 
        text-align: center;
    }
    
    .item4 {
        background-color: white;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
    }
    
    .item4 .title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    
    .item4 text {
        margin-bottom: 0.5rem;
    }
    
    .item4 .text {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    
    .item4 .text i {
        margin-right: 1px;
    }
    
    .item4 .btn {
        background-color: #FF5C01;
        padding: 0.5rem 1rem;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        align-self: flex-end;
    }
}
/* Latest Review Styles */
.latest-reviews {
    .main-heading {
        margin-bottom: 130px;
    }

    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        position: relative;
        padding-top: 70px;
        text-align: center;
    }

    .card-body img {
        margin-bottom: 15px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: -75px;
        left: 50%;
        transform: translateX(-50%);
    }

    .card-title {
        margin-top: 70px;
        font-weight: bold;
        color: #023341;
    }

    .card-text {
        color: #023341;
    }

    .stars {
        margin: 10px 0;
        font-size: 1.5em; 
        font-weight: bold; 
    }

    .stars i {
        color: #023341;
    }

    hr {
        border-top: 4px solid #070707;
        width: 100%;
        margin: 20px auto;
    }

    .reviewer-name {
        color: #023341;
        font-weight: bold;
    }

    .reviewer-name i {
        margin-left: 5px;
    }
}


/*-----last----*/
.cylindrical-image {
    display: inline-block;
    position: absolute;
    width: 120px;
    height: 300px;
    border-radius: 130px;
    border: 130px solid transparent;
    box-shadow: 0 3px 6px #00000029;
    overflow: hidden;
    margin: 0px;
}

.cylindrical-image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.cylindrical-image.first {
    top: 40px;
    left: 50px;
}

.cylindrical-image.middle {
    top: 0px !important;
    left: 180px;
}

.cylindrical-image.third {
    top: 40px;
    left: 310px;
}
.cylindrical-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

@media only screen and (max-width: 600px) {

    .promo-title {
        font-size: 40px;
    }

    .promo-subtitle {
        font-size: 18px;
    }

    .search-bar {
        padding-left: 10px;
        font-size: 18px;
    }

    .search-bar .btn {
        margin-left: 0;
        font-size: 14px;
    }

    .header-area {
        margin: 10px 0;
    }

    .main-heading {
        font-size: 1.5rem;
    }

    .sub-heading {
        font-size: 0.8rem;
        margin: 5px 0 10px;
    }

    .box-title {
        font-size: 14px;
    }

    .text-primary {
        font-size: 1.5rem;
    }

    .latest-recommendation .card-body img,
    .latest-reviews .card-body img {
        width: 100px;
        height: 100px;
    }

    .latest-recommendation .card-title,
    .latest-reviews .card-title {
        font-size: 12px;
    }

    .latest-recommendation .stars,
    .latest-reviews .stars {
        margin: 5px 0;
    }
}